@-moz-viewport {width: device-width; scale: 1;}
@-ms-viewport {width: device-width; scale: 1;}
@-o-viewport {width: device-width; scale: 1;}
@-webkit-viewport {width: device-width; scale: 1;}
@viewport {width: device-width; scale: 1;}

html {
    box-sizing: border-box;
    -moz-text-sized-adjust: 100%;
    -ms-text-sized-adjust: 100%;
    -webkit-text-sized-adjust: 100%;
    text-sized-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

/*

colours 

Purple: #BE6696
Pink: #E567B5
Green: #B0E1DF
Bleu: #AFE5F9
Red: #F16370
Orange: #F9B175
Yellow: #FEF6A3
grey: #4D4D4D

*/

img {
    width: 100%;
    margin: 0;
    padding: 0;
}

.flex-img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.background{
 display: none;
 background-color:#fff;
 position: fixed;
 width: 100%;    
 height: 7rem; 
 z-index: 5000;
}

.logo{
   position: absolute;
   width: 7rem; 
   height: 100%;
   top: -0.02rem;    
}

.line-seperator{
  height:2px;
  border-bottom:2px solid #4D4D4D;  
}

#toggle {
  position: absolute;    
  display: block;
  width: 28px;
  padding-top: 1.5rem;    
  height: 30px;
  margin: 30px 80% 5%;   
}


@media only screen and (min-width: 19em) {
  #toggle {
   margin: 30px 85% 5% 
  } 
}

@media only screen and (min-width: 25em) {
  #toggle {
   margin: 30px 90% 5% 
  }
  
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  top: -9px;  
}

#toggle span:after{
  top: 9px;   
}
#toggle span {
  position: relative;
  display: block;    
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 5px;
  background-color: #F16370;
  transition: all 0.3s;
  backface-visibility: hidden;
}

/* once pushed */
#toggle.on span {
  background-color: transparent;      
}

#toggle.on span:before {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
  -moz-transform: rotate(45deg) translate(5px, 5px);
  -o-transform: rotate(45deg) translate(5px, 5px);
  -ms-transform: rotate(45deg) translate(5px, 5px);
  transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
  -webkit-transform: rotate(-45deg) translate(7px, -8px);
  -moz-transform: rotate(-45deg) translate(7px, -8px);
  -o-transform: rotate(-45deg) translate(7px, -8px);
  -ms-transform: rotate(-45deg) translate(7px, -8px);
  transform: rotate(-45deg) translate(7px, -8px);
}



#toggle.on + #menu {
  display: block;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  background-color: #fff;
  height: 100%;
}

/* menu appearance*/
#menu {
  position: fixed;
  color: #fff;
  font-family: 'oswald', sans-serif;
  width: 100%;
  padding: 5px;
  font-weight: 200; 
  font-size: 2rem;
  line-height: 4rem;    
  text-align: right;
  height: 0; 
  transition: opacity .4s;
  display: none;
  top: 3.3em;
}


.fancy-link, 
.fancy-link:link,
.fancy-link:visited{
	color: #4D4D4D;
	text-decoration: none;
    font-size: 1.8rem;
	border-bottom: 0 solid #4D4D4D;
}

.fancy-link:hover,
.fancy-link:focus,
.fancy-link:active{
	color: #4D4D4D;
	border-bottom: 5px solid #B0E1DF;
}

/*
#menu:after {
  position: absolute;    
  top: -15px;
  left: 95px;
  content: "";
  display: block;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid white;
}*/
#menu ul, 
#menu li, 
#menu li a {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
  color:  #4D4D4D;
}

#menu ul{
  border-top: solid;   
}

#menu li a {
  padding: 5px;
  color: #4D4D4D;
  font-size: 1.8rem;    
  text-decoration: none;
  transition: all .2s; 
  padding-right: 8%;
  border-bottom: solid #4D4D4D ;     
}

.large-nav{
 display: none; 
}

.photo{  
  height: 15rem;
  width: 100%;
  background-color:  transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; 
  margin-top: 2rem; 
}

.photo1{
  background-image: url("../img/keyboard.jpg");
}

.photo2{
  background-image: url("../img/glasses.jpg");   
}
    

@media only screen and (min-width: 45em) {
  
  .small-nav{
   display: none;
  }
  
  .large-nav{
   display: inline-block;
   text-decoration: none;
   float: right;
   font-family: 'oswald', sans-serif;
   font-weight: 200;  
  }
  
  
  .large-nav li{ 
   display: inline-block;
   margin: 0.5rem;
   margin-left: 1.5rem;
   line-height: 4rem;    
  }
    
.photo{  
  height: 30rem;
}    

}

@media only screen and (min-width: 70em) {
  .stop{
    max-width: 90%;
  }
  
  .stop-logo{
   padding-left: 10%;    
  }
    
        
 .photo{  
  height: 27rem;
 } 
}

.center{
 text-align: center;   
}
 
.header{  
  height: 100vh;
  width: 100%;
  background-image: url("../img/martine2.jpg");
  background-color:  transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header2{  
  height: 100vh;
  width: 100%;
  background-image: url("../img/404.jpg");
  background-color:  transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.arrow{
 width: 40%;
 padding-right: 19%;
 height:  100vh;   
}

.goodbye img{
 width: 2rem;
 padding-top: 2rem;
 padding-bottom: 2rem;    
}

.contain img{ 
   max-width: 2rem;
}

.section{
 text-align: center;
 font-size: 3rem; 
 padding-top: 7rem;
}


.sub{
 max-width: 85%;
 padding-left: 15%;
 padding-bottom: 1rem;
}

@media only screen and (min-width: 23em) {
  
  .description{
   padding-top: 80%;
  }
}

@media only screen and (min-width: 29em) {
  
  .description{
   padding-top: 40%;  
  }
}

@media only screen and (min-width: 35em) {
  
  .description{
   font-size: 1.5rem;
   width: 70%;
   padding-top: 50%;  
  }
}

@media only screen and (min-width: 50em) {
  
  .description{
   font-size: 2rem;
   width: 60%; 
   padding-top: 30%;
  }
}

@media only screen and (min-width: 70em) {
  
  .description{
   font-size: 2rem;
   width: 60%; 
   padding-top: 20%;
  }
}


@media only screen and (min-width: 41em) {
 
 .ac-small{
  width: 100%;
  height: auto;
  overflow: auto;
  margin: 0;    
}   
    
.inside{
  width: 50%;   
} 
    
    
}

.icon{
 width: 80%;
 text-align: center;
 padding-top: 3rem;    
}

.self-photo{
 width: 40%;   
}

.contact-icon{
    width:  50px;
    position: absolute;
    float: right;
    margin-left: 5px;
    padding-left: 10px;
}

.text-contact h3{
    padding-bottom: 2.65rem;
}

.contact-2{
  display: inline-block;
}


.contact{
 display: none; 
 width: 100%;    
}


.text-contact-small{
 display: inline-block;
 width: 70%;    
 padding-top: 2rem;
}

.text-contact-small i{
color: #4D4D4D;
}

.text-contact{
 text-align: right;
 width: 30%;     
 display: inline-block;
}

.text-contact2 p{
 max-width: 30rem;
}

.text-contact2{
border-top: none;  
display: inline-block;    
margin-top: 20%;
text-align: left;     
}

.text-contact2 h4{
 font-size: 1rem;
 font-weight: 100;
 padding-top: 1rem;    
}

.text-contact2 i{
 font-size: 3rem; 
 color: #4D4D4D;    
 margin-right: 2rem;   
}

.photo-l{
    text-align: center;
    width: 40%;
    padding-top: 2%;
     
 }

.contact h3,
.contact-2 h3{
    font-size: 1.8rem;
    font-weight: 100;
    margin-top: 0;  
}

.contact-2 i{
  font-size: 3rem;   
}


.contact-2 h4{
  margin-top: 0; 
  font-size: 1rem;
  font-weight: 100;
  padding-bottom: 2rem;
  padding-top: 1rem;
}


.fancy-link2, 
.fancy-link2:link,
.fancy-link2:visited{
	color: #4D4D4D;
	text-decoration: none;
    font-size: 1.8rem;
	border-bottom: 0 solid #4D4D4D;
}

.fancy-link2:hover,
.fancy-link2:focus,
.fancy-link2:active{
	color: #4D4D4D;
	border-bottom: 5px solid #B0E1DF;
}

@media only screen and (min-width: 38em) {
    
    .contact-2 p{
        text-align: center;
    }
    
    .contact-2 img{
     text-align: center;
     width: 80%;    
    
    }
}

 @media only screen and (min-width: 60em) {
     
    .contact{
      display: inline-block;
    }
     
    .text-contact-small{
      display: none;   
    }
    
    .contact-2{
     display: none;   
    }
    
     
     
    .self-photo{
     width: 100%;
     padding-top: 5rem;    
    }
     
     .max-width{
     width: 90%;
     margin-left: 5%;    
    }
}


.meet-me{
 width: 95%;
 padding-left: 6%;     
}

/* Social Icons */
.ease-all{
	-webkit-transition: all 350ms ease-in-out;
	-moz-transition: all 350ms ease-in-out;
	-ms-transition: all 350ms ease-in-out;
	-o-transition: all 350ms ease-in-out;
	transition: all 350ms ease-in-out;
}

.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}

.social{
     list-style-type: none;
     font-size: 1.8rem;
}

.social



i{
  font-size: 1.5rem;
}

.social-contact{
 background-color:#F16370;
 text-align: center;    
 padding-top: 110px;  
}

.social-contact ul{
    text-align: center;
    padding-left: 0;
}

.social li{
 margin: auto 1rem;
 margin-bottom: 1.5rem;     
 display: inline-block;
}



.space-after{
 padding-bottom: 10rem;
}

footer{
 background-color: #3c3c3c;
 height: 100%;
 padding-top: 1rem; 
 color: #797979;   
}


.caption-style-4 :hover img{
		opacity: 1;
		transform: scale(1.15,1.15);
		-webkit-transform:scale(1.15,1.15);
		-moz-transform:scale(1.15,1.15);
		-ms-transform:scale(1.15,1.15);
		-o-transform:scale(1.15,1.15);
	}

.caption-style-4 img{
		-webkit-transition:all 0.25s ease-in-out;
		-moz-transition:all 0.25s ease-in-out;
		-o-transition:all 0.25s ease-in-out;
		-ms-transition:all 0.25s ease-in-out;
		transition:all 0.25s ease-in-out;
	}

.goodbye h2{
  color: #b54953;
  margin-top: 0;    
}
.up{
 padding-left: 50%;    
 
}

.up img{ 
 width: 2rem;    
 padding-bottom: 5%; 
 text-align: center;    
}

.goodbye p{
 font-size: 1.5rem;
 width:  85%;
 padding-left: 15%;
 color: #b54953;    
}

.stay{
 position: relative;    
 text-align: center;
 max-width: 60rem;    
}

.stay h2{
 margin-top: 0;
 padding-bottom: 1rem;    
}


.fancy-link3, 
.fancy-link3:link,
.fancy-link3:visited{
	color: #b54953;
	text-decoration: none;
    font-size: 1.8rem;
}

.fancy-link3:hover,
.fancy-link3:focus,
.fancy-link3:active{
	color: #fff;
}


.fancy-link4, 
.fancy-link4:link,
.fancy-link4:visited{
	color: #F16370;
	text-decoration: none;
}

.fancy-link4 ul{
 list-style-type: none;   
}

.fancy-link4,
.fancy-link4:link,
.fancy-link4:visited{
 border: solid 4px #F16370;
 padding: 2%;    
}


.fancy-link4:hover,
.fancy-link4:focus,
.fancy-link4:active{
	color: rgb(137, 133, 118);
}

.social-med{
  padding-top: 2rem;
  width: 70%;
  margin-left: 15%;    
}


/*lightbox*/

.lb-album li{
 list-style-type: none;
 padding: 0;
 margin: 0;
 height: auto;
}

.lb-overlay ul{
 padding: 0;
 margin: 0;    
    
}

.lb-overlay{
	width: 0px;
	height: 0px;
	position: fixed;
	overflow: scroll;
	left: 0px;
	top: 0px;
	padding: 0px;
	z-index: 99;
	text-align: center;
	background: rgba(255, 255, 255, 0.95);
    z-index: 10001;
}


.lb-overlay > div{
	position: relative;
	color: #4D4D4D;
	height: 80px;
	margin: 40px auto 0px auto;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.84);
}


.lb-overlay div h3 span{
	display: block;
	line-height: 6px;
}
.lb-overlay div p{
	font-size: 14px;
	text-align: left;
	float: left;
}


.lb-overlay a.lb-close{
	color: #fff;
	position: absolute;
	top: 1px;
	left: 45%;
	text-align: center;
	overflow: hidden;
	background: url(../img/x.png) no-repeat center center;
	color: transparent;

}

.overlay-txt h2{
 font-size: 2.5rem;    
}

.lb-overlay img{
	max-height: 100%;
	position: relative;
	opacity: 0;
	-webkit-transition: opacity 0.5s linear;
	-moz-transition: opacity 0.5s linear;
	-o-transition: opacity 0.5s linear;
	-ms-transition: opacity 0.5s linear;
	transition: opacity 0.5s linear;
}

.overlay-txt p{
 padding-left: 10%;
 width: 95%;  
 text-align: center;    
}



.lb-overlay:target {
	width: auto;
	height: auto;
	bottom: 0px;
	right: 0px;
}

.lb-overlay:target img,
.lb-overlay:target a.lb-close{
	opacity: 1;
    padding-top: 10rem;
	filter: alpha(opacity=99); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}

/* 
	100% Height for Opera as the max-height seems to be ignored, not optimal for large screens 
	http://bricss.net/post/11230266445/css-hack-to-target-opera 
*/
x:-o-prefocus, .lb-overlay img {
    height: 100%;
}

.block{
     display: block;   
}

/*GROW*/
.over img {
   -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
    -webkit-filter: brightness(100%)
}
 
.over img:hover {
-webkit-filter: brightness(50%)    
}


@media only screen and (min-width: 40em) {
     
    .lb-overlay img{
        float: left;
        width: 50%;
        padding-left: 5%;
    }
    
    .overlay-txt{
      float: right;
      width: 50%;
      padding-left: 5%;
      padding-top: 3.5rem;    
    }
}






