html {font-size: 1em;}

@media only screen and (min-width: 60em) {

  html {
    font-size: 110%;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 120%;
  }

}

@media only screen and (min-width: 120em) {

  html {
    font-size: 130%;
  }

}

html {
    font-size: 1em;
}

body {
  background-color: white;
  font-size: 14px;
  line-height: 23px;    
  font-family: "open sans", sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {
  margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
  font-family: "oswald", sans-serif;
  margin: 1.3em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  font-family: "oswald", sans-serif;    
  margin-top: 0;
  font-size: 1.602em;
}

h2 {
    font-family: "oswald", sans-serif;
    font-size: 1.424em;
}

h3 {
     font-family: "oswald", sans-serif;
    font-size: 1.266em;
}

h4 {
    font-family: "oswald", sans-serif;
    font-size: 1.125em;
}

small, .font_small {font-size: 0.889em;}

.yotta {
    font-family: "oswald", sans-serif;
    font-size: 5.609em; 
}

.zetta {
    font-family: "oswald", sans-serif;
    font-size: 4.208em; 
}

h1, .exa {
  font-family: "oswald", sans-serif;
  margin-top: 0;
  font-size: 3.157em;
}

h2, .peta {
    font-family: "oswald", sans-serif;
    font-size: 5em;
    font-weight: 200;
    color: #B0E1DF;
}

h3, .tera {
    font-family: "oswald", sans-serif;
    font-size: 1.777em;
}

h4, .giga {
    font-family: "oswald", sans-serif;
    font-size: 1.333em;
}

h5, .mega{
    font-family: "oswald", sans-serif;
    font-size: 1em;
}

h6, .kilo{
    font-family: "open-sans", sans-serif;
    font-size: 0.75em;
}

h7, .milli {
    font-family: "open-sans", sans-serif;
    font-size: 0.563em;   
}

small, .font_small {
    font-size: 0.75em;
}


.center{
    
 text-align: center;   
}